body {
  background: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.color-green { color: rgb(0, 153, 97) !important; }
.text-bold { font-weight: bold; }
.bg-green {  background-color: rgb(0, 153, 97); color: #fff; }
.bg-yandex { background-color: #ffdb4d; color: #000;}

.chunk { 
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
}

.chunk-sm {
  font-size: 12px;
  padding: 1px 6px;
}


.block--info {
  padding: 4px 0 0 0;
}
