@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-Bold.eot');
    src: url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Akrobat-Bold.woff2') format('woff2'),
        url('../fonts/Akrobat-Bold.woff') format('woff'),
        url('../fonts/Akrobat-Bold.ttf') format('truetype'),
        url('../fonts/Akrobat-Bold.svg#Akrobat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-SemiBold.eot');
    src: url('../fonts/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Akrobat-SemiBold.woff2') format('woff2'),
        url('../fonts/Akrobat-SemiBold.woff') format('woff'),
        url('../fonts/Akrobat-SemiBold.ttf') format('truetype'),
        url('../fonts/Akrobat-SemiBold.svg#Akrobat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-ExtraBold.eot');
    src: url('../fonts/Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Akrobat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Akrobat-ExtraBold.woff') format('woff'),
        url('../fonts/Akrobat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Akrobat-ExtraBold.svg#Akrobat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat-Black.eot');
    src: url('../fonts/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Akrobat-Black.woff2') format('woff2'),
        url('../fonts/Akrobat-Black.woff') format('woff'),
        url('../fonts/Akrobat-Black.ttf') format('truetype'),
        url('../fonts/Akrobat-Black.svg#Akrobat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

