/*   MAIN RESET  */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Akrobat', sans-serif;
  background-color: #f8f8f8;
  color: #000;
  margin: 0;
}

.video-modal {
  position: absolute;
  width: 100%;
  top: 30%;
}
.video-modal-fader {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  display: none;
}
.video-modal-fader-visible {display: block;}


.signin-section {
  padding-top: 50px;
}
.signin-form {
  background: #eee;
  width: 380px;
  margin: 20px auto;
  padding: 30px;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: 'Akrobat';
}

img {
  max-width: 100%;
}

* a {
  text-decoration: none !important;
  color: #fff;
}

* a:hover, * a:active, * a:focus {
  color: inherit;
  background-color: inherit;
}

.link {
  color: #F19100;
}

button {
  padding: 0;
  border: 0;
  outline: none;
}

.title {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 900;
}

.orange-btn {
  border: 2px solid #F19100;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F19100;
  -webkit-transition: color, background-color, 0.3s;
  transition: color, background-color, 0.3s;
}

.orange-btn:hover, .orange-btn:focus, .orange-btn:active {
  color: #F19100;
  background-color: #fff;
}

.btn-orange {
  border: 2px solid #F19100;
  border-radius: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F19100;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
  color: #F19100;
  background-color: #fff;
}

.relative {
  position: relative;
}

/*   HEADER   */
.header {
  padding-top: 55px;
  padding-bottom: 25px;
  background: #9BC14A url("../img/bg/header-bg-mobile.svg") no-repeat -410px 1px;
  background-size: cover;
  min-height: 667px;
  position: relative;
}

.header__logo {
  margin: 0 auto;
  max-width: 124px;
  height: 47px;
  z-index: 90;
}

.header__title {
  margin-left: 15px;
  margin-top: 90px;
  font-size: 48px;
  line-height: 54px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.header__desc {
  margin-top: 25px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  font-weight: 700;
}

.header__desc span {
  display: block;
}

.header__btn {
  margin: 0 auto;
  margin-top: 90px;
  border: 2px solid #F19100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 293px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F19100;
  border-radius: 0;
  -webkit-transition: color, background-color, 0.3s;
  transition: color, background-color, 0.3s;
}

.header__btn:hover, .header__btn:focus, .header__btn:active {
  color: #F19100;
  background-color: #fff;
  border: 2px solid #F19100;
  outline: none;
}

.header__video-btn {
  margin: 0 auto;
  margin-top: 17px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 34px;
  border: 2px dashed #D0D0D0;
  border-radius: 5px;
  text-transform: uppercase;
  color: #adadad;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.header__video-btn::after {
  content: '';
  width: 22px;
  height: 22px;
  background-color: #adadad;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  right: 15px;
  z-index: 0;
}

.header__video-btn::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 10px;
  right: 19px;
  z-index: 1;
}

.header__hamburger-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__hamburger-toggle span {
  display: block;
  width: 22px;
  height: 3px;
  background-color: #fff;
}

.header__hamburger-toggle span::after, .header__hamburger-toggle span::before {
  content: '';
  display: block;
  width: 22px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.header__hamburger-toggle span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.header__hamburger-toggle span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.header__nav {
  position: relative;
  overflow: hidden;
}

.header__nav--active {
  overflow: visible;
}

.header__menu-list li:not(:nth-child(3)) {
  display: none;
}

.header__menu-list li a {
  display: block;
}



.header__menu-slide {
  display: none;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #9BC14A;
}

.header__menu-slide--active {
  display: block;
  left: 30%;

  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 9000;
}

.header__sticky-bar {
  display: none;
}



.header__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49px;
  height: 49px;
  background-color: #F19100;
  border-radius: 100%;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.header__social-item:hover {
  background-color: #d47f00;
}

.header__btn-auth {
  margin-top: 10px;
  border: 0;
  border-radius: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 137px;
  height: 45px;
  font-size: 24px;
  color: #9BC14A;
  font-weight: 700;
  background-color: #fff;
  -webkit-transition: background-color, color, 0.2s;
  transition: background-color, color, 0.2s;
  position: absolute;
  top: 63px;
  right: 40px;
}

.header__btn-auth:hover, .header__btn-auth:focus, .header__btn-auth:active {
  border: 0;
  background-color: #F19100 !important;
  color: #fff;
  outline: none;
}

.header__btn-auth-mobile {
  margin: 0 auto;
  display: none;
  position: static;
  border: 2px solid #9BC14A;
}

.header__btn-auth-mobile:hover, .header__btn-auth-mobile:focus, .header__btn-auth-mobile:active {
  border: 0;
  background-color: #F19100;
  color: #fff;
  outline: none;
}

.header-social {
  display: none;
}

.menu-slide__logo {
  padding: 20px 0 10px 0;
  display: block;
  text-align: center;
}

.menu-slide__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.menu-slide__btn-close::before, .menu-slide__btn-close::after {
  content: '';
  display: block;
  background-color: #2A4C2A;
  width: 18px;
  height: 3px;
  position: absolute;
}

.menu-slide__btn-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-slide__btn-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-slide__list {
  margin-top: 70px;
  text-align: center;
}

.menu-slide__list li {
  font-size: 22px;
  line-height: 26px;
  color: #2A4C2A;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-slide__list li:not(:first-child) {
  margin-top: 15px;
}

.menu-slide__list li a {
  color: inherit;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.menu-slide__list li a:hover, .menu-slide__list li a:active, .menu-slide__list li a:focus {
  color: #fff;
}

.menu-slide__phone-number {
  display: block;
  text-align: center;
  color: #2A4C2A;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.menu-slide__phone-number:hover {
  color: #fff;
}

.menu-slide__phone-desc {
  margin-top: 70px;
  display: block;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #4B4B4B;
}

.menu-slide__social {
  margin-top: 60px;
  width: 100%;
  display: block;
  text-align: center;
}
.menu-slide__social > li {
  padding: 0 5px;
  display: inline-block;
}

/*   ABOUT    */
.about {
  padding-top: 35px;
}

.about p {
  margin: 0 auto;
  max-width: 785px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.text-wrap {
  margin: 15px auto 0 auto;
  max-width: 785px;
}
.text-wrap p {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.about__title {
  display: block;
}

.about-wrap {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__photo {
  text-align: center;
}

.about__photo:not(:first-child) {
  margin-top: 15px;
}

.about__btn {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 246px;
  height: 60px;
}

/*   REGISTRATION    */
.registration {
  padding-top: 75px;
}

.registration__title {
  margin-bottom: 40px;
}

/*   REGISTRATION FORM    */
.form {
  margin: 0 auto;
  padding: 25px;
  padding-bottom: 75px;
  width: 100%;
  max-width: 785px;
  background-color: #fff;
}

.form h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.form h3:nth-of-type(2) {
  margin-top: 30px;
}

.form h3:nth-of-type(3) {
  margin-top: 45px;
  margin-bottom: 32px;
  text-align: center;
}

.form p {
  margin-top: 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.form-group {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group label {
  margin-bottom: 3px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

.form-group input {
  outline: none;
  padding-left: 5px;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 14px;
  border: 1px solid #4B4B4B;
}

.form select {
  margin-top: 10px;
  margin-bottom: 60px;
  border: 0;
  outline: none;
  width: 100%;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #4B4B4B;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.form select option {
  width: 100%;
  outline: none;
}

.form h4 {
  margin-top: 32px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align: center;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-check span {
  margin-left: 12px;
  width: 400px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.form input[type="checkbox"] {
  display: none;
}

.form__checkbox-fake {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 3px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.form__checkbox-fake::before {
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form input[type="checkbox"]:checked + .form__checkbox-fake::before {
  opacity: 1;
}

.form__btn {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 246px;
}

.form-toggle-item {
  margin: 0 auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 785px;
  height: auto;
  background-color: #9BC14A;
  cursor: pointer;
  -webkit-transition: color, background-color, 0.3s;
  transition: color, background-color, 0.3s;
}

.form-toggle-item:hover {
  background-color: #F19100;
}

.form-toggle-item:hover .form-toggle-item__btn {
  color: #F19100 !important;
}

.form-toggle-item:not(:first-child) {
  margin-top: 20px;
}

.alert {
  padding: 15px 10px;
  margin: 20px 0 10px 0;
  font-size: 20px;
}

.form-toggle-item__desc {
  display: block;
  padding: 0 0 10px 0;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
}

.form-toggle-item__btn {
  margin: 0 auto;
  border: 0;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 137px;
  height: 45px;
  color: #9AC14A !important;
  font-size: 24px;
  font-weight: 700;
  background-color: #2A4C2A !important;
  -webkit-transition: color, background-color, 0.3s;
  transition: color, background-color, 0.3s;
}

.form-toggle-item__btn:hover {
  background-color: #2A4C2A;
  color: #F19100;
}

.form-slide-active {
  background-color: #F19100;
}

.form-slide-active .form-toggle-item__btn {
  color: #F19100 !important;
}

.form-check-agreement {
  paddint-top: 10px;
}
.size-list {}
.size-list {
  margin: 10px auto 60px auto;
  display: block;
  width: 100%;
  text-align: center;
}
.size-list .size-item {
  display: inline-block;
  width: 50px;
  height: 24px;
  font-size: 16px;
  padding: 2px 0;
  cursor: pointer;
  background-color: #C4C4C4;
  color: #7c7c7c;
}
.size-list .size-item:hover,
.size-list .size-item.active {
  background-color: #F19100;
  color: #fff;
}


/*   EVENT PROGRAM    */
.event-program {
  padding-top: 50px;
}

.event-program__table {
  margin: 0 auto;
}


.event-program__table tr:not(:last-child) {
  border-bottom: 1px solid #808080;
}

.event-program__table tr td {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.event-program__title {
  margin-bottom: 10px;
}

.event-program__time {
  width: 170px;
  text-align: center !important;
  font-size: 30px !important;
  line-height: 36px !important;
  font-weight: 900 !important;
}


/*   EVENT PLACE    */
.event-place__title {
  margin-top: 120px;
  margin-bottom: 20px;
}

.event-place p {
  margin: 0 auto;
  max-width: 787px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
}

.event-place__img {
  text-align: center;
  margin-top: 27px;
}

/*   FOOTER    */
.footer {
  padding-bottom: 90px;
}

.footer__img {
  display: block;
  text-align: center;
}

.footer__title {
  margin-top: 130px;
  margin-bottom: 25px;
}

.footer-text {
  margin-top: 90px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
}

.footer-text a {
  color: #000;
}

.footer-text-wrap {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-text-wrap a:not(:last-child) {
  margin-bottom: 5px;
}

.footer-text p:nth-child(1) {
  margin-bottom: 5px;
}

/*   MEDIA QUARIES    */
@media screen and (min-width: 576px) {
  .header__title {
    margin-left: 80px;
  }
  .about-wrap {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__photo {
    margin: 0 auto;
    margin-top: 20px;
  }
  .about__photo:not(:first-child) {
    margin-top: 20px;
  }
  .event-program__table {
    width: 500px;
  }
  .event-program__action {
    max-width: 680px;
  }
  .footer {
    padding-bottom: 120px;
  }

  .video-modal {
    top: 10%;
    left: 0;
    /* margin: 0 0 0 -400px; */
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__sticky-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .header__title {
    font-size: 60px;
    line-height: 62px;
  }
  .sticky-bar__fund-logo {
    margin-left: 10px;
  }
  .sticky-bar-phone {
    margin-right: 10px;
  }
  .sticky-bar__phone-desc {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #9CC24A;
    font-size: 14px;
  }
  .sticky-bar__phone-number {
    display: block;
    color: #9CC24A;
    font-size: 36px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .sticky-bar__phone-number:hover {
    color: #2A4C2A;
  }
  .registration {
    padding-top: 100px;
  }
  .form-toggle-item {
    padding: 0 45px;
    height: 138px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-toggle-item__btn {
    margin: 0;
  }
  .size-list {
    margin: 10px auto 60px auto;
    display: block;
    width: 390px;
    text-align: center;
  }

  .form {
    padding-left: 45px;
    padding-right: 45px;
  }
  .form select {
    display: none;
  }
  .form-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-group label {
    /* min-width: 200px; */
    width: 280px;
    font-size: 24px;
    font-family: 'Akrobat', sans-serif;
    font-weight: 600;
  }
  .form-group input[type="text"] {
    max-width: 470px;
    font-size: 20px;
    font-weight: 600;
  }
  .form-check {
    cursor: pointer;
  }
  .form-check span {
    margin-left: 17px;
  }
  .event-program {
    padding-top: 80px;
  }
  .event-program__title {
    margin-bottom: 30px;
  }
  .footer-text p:nth-child(1) {
    margin-bottom: 13px;
  }
  .footer-text-wrap {
    margin: 0 auto;
    margin-top: 22px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 678px;
  }
  .video-modal {
    top: 10%;
    left: 0;
    /* margin: 0 0 0 -400px; */
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: #f3f3f3;
  }
  .header {
    background: #9BC14A url("../img/bg/header-bg.svg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    z-index: 10;
  }
  .header::before {
    content: '';
    display: block;
    width: 100%;
    height: 172px;
    background: url("../img/bg/header-bg-grass.svg") no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: -1;
  }
  .header__desc {
    font-size: 36px;
  }
  .header__desc span {
    display: inline;
  }
  .header__btn {
    z-index: 90;
  }
  .header__btn-auth-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu-list {
    margin: 0 auto;
    max-width: 1015px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu-list li {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  .header__menu-list li:not(:nth-child(3)) {
    display: block;
  }
  .header__menu-list li a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .header__menu-list li a:hover, .header__menu-list li a:active, .header__menu-list li a:focus {
    color: #2A4C2A;
  }
  .header__logo {
    margin: 0;
    max-width: 172px;
    height: 65px;
  }
  .header__hamburger-toggle {
    display: none;
  }
  .header__sticky-bar {
    bottom: 0;
  }
  .header__title {
    margin-top: 70px;
    font-size: 86px;
    line-height: 90px;
  }
  .header__desc {
    margin-top: 70px;
  }
  .header__video-btn {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 120px;
    height: 270px;
    position: absolute;
    top: 135px;
    right: 215px;
    color: #fff;
    line-height: 22px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    border: 4px dashed #7BA02D;
  }
  .header__video-btn span {
    display: block;
  }
  .header__video-btn::after {
    width: 93px;
    height: 93px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__video-btn::before {
    border-style: solid;
    border-width: 22.5px 0 22.5px 45px;
    border-color: transparent transparent transparent #F19100;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__video-btn:hover, .header__video-btn:focus, .header__video-btn:active {
    color: #2A4C2A;
  }
  .header__menu-slide {
    display: none;
  }
  .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 177px;
    position: absolute;
    top: 50%;
    right: 45px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sticky-bar__fund-logo {
    margin-left: 30px;
  }
  .sticky-bar-phone {
    margin-right: 30px;
  }
  .about {
    padding-top: 350px;
    position: relative;
  }
  .about::before {
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    background: url("../img/photo/event-photo-pc.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 35px;
    left: 0;
  }
  .about p {
    margin-top: 25px;
    font-size: 20px;
    line-height: 24px;
  }
  .about .about-wrap {
    display: none;
  }
  .form {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .form__btn {
    margin-top: 50px;
  }
  .form p {
    margin-top: 30px;
  }
  .event-program {
    padding-top: 120px;
  }
  .event-program__table {
    width: 788px;
  }
  .event-program__table-row {
    padding: 8px 0;
  }
  .event-program__action {
    font-size: 20px;
  }
  .event-place__title {
    margin-top: 140px;
  }
  .footer__title {
    margin-top: 150px;
  }
  .video-modal {
    top: 10%;
    left: 50%;
    margin: 0 0 0 -400px;
    width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .header__title {
    margin-left: 150px;
  }
  .header__menu-list li {
    font-size: 24px;
  }
  .header__video-btn {
    right: 330px;
  }
  .header__btn {
    margin-top: 34px;
    font-size: 36px;
    max-width: 379px;
  }
  .about {
    padding-top: 550px;
  }
  .about::before {
    height: 450px;
  }
  .registration {
    position: relative;
  }
  .registration::before {
    content: '';
    display: block;
    width: 300px;
    height: 425px;
    background: url("../img/bg/boots.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 300px;
    left: -100px;
    z-index: -1;
  }
  .video-modal {
    top: 20%;
    left: 50%;
    margin: 0 0 0 -500px;
    width: 1000px;
  }
}

@media screen and (min-width: 992px) and (min-height: 900px) {
  .header__title {
    margin-top: 120px;
  }
  .header__video-btn {
    top: 185px;
  }
}

@media screen and (min-width: 1450px) {
  .header__btn-auth {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__btn-auth-mobile {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .header__title {
    margin-top: 150px;
    font-size: 96px;
    line-height: 100px;
  }
  .header__video-btn {
    top: 215px;
    right: 270px;
    height: 300px;
  }
  .registration::before {
    width: 580px;
    height: 800px;
    left: -200px;
  }
}
/*# sourceMappingURL=style.css.map */
