body {
  background: #ddd;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background-color: #333;
  border-bottom: 1px solid #555;
  margin: 0 0 10px 0;
}
header nav {border-left: 1px solid #555;}
header nav a {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  border-right: 1px solid #555;
  padding: 10px 15px;
}
header nav a:hover {
  color: #fff;
  text-decoration: underline;
}
.modal .panel {margin-bottom: 0 !important;}

.btn:disabled {
  color: rgba(0, 0, 0, 0);
  background-image: url('../img/ajax-loader2.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center center;
}
.payment {
  background: #fff;
  max-width: 980px;
  margin: 50px auto;
  padding: 20px 30px 50px 30px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(99, 99, 99, 0.12),
              0 2px 2px rgba(99, 99, 99, 0.12),
              0 4px 4px rgba(99, 99, 99, 0.12),
              0 8px 8px rgba(99, 99, 99, 0.12),
              0 16px 16px rgba(99, 99, 99, 0.12);
}

h4 {margin-top: 5px;}
.title {
  margin: 0;
  padding: 20px 15px;
}
.form-section {
  padding: 30px 0;
  border-bottom: 1px dashed #ddd;
}
.no-border {
  border: none !important;
}
.form-section-tariff {
  background: #eef2f4;
  padding: 30px;
  margin: 0 -30px;
  border: none !important;
}

.main {padding: 10px 20px;}
.fader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
