body {
  font-family: 'Segoe UI', sans-serif;
  /* font-family: 'Proxima Nova', 'Segoe UI', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  background-color: #555;
  font-size: 14px;
  overflow-y: scroll;
}
body  {
  font-family: 'Segoe UI', sans-serif !important;
}
h1, h2, h3, h4, h5 {
  font-family: 'Segoe UI', sans-serif !important;
  font-weight: 600 !important;
}

table th {
  font-weight: 600 !important;
}

.hr-sm {
  margin: 10px 0;
}

.fish.modal {
  color: #333 !important;
}

.fake-form-control {
  color: #333;
  line-height: 1.42857143;
  padding: 6px 0;
  display: block;
}
.form-control, .mx-input {
  border-radius: 1px !important;
  font-family: 'Segoe UI', sans-serif !important;
}
.form-value {
  display: inline-block;
  padding: 7px 7px;
}
.mx-input {
  padding-left: 12px;
  color: #555 !important;
}

/* .inn-control {
  width: 230px;
  display: inline-block;
  vertical-align: top;
} */
.input-require {
  color: #dc3545;
}

.help-block {}
.help-block-sm {font-size: 12px;}
.help-block-xs {font-size: 10px;}

.v-scrollable {
  overflow-y: scroll;
}

.width-max {width: 100% !important;}
.w-100px {width: 100px;}
.w-150px {width: 150px;}
.w-200px {width: 200px;}
.w-250px {width: 250px;}
.w-300px {width: 300px;}
.w-350px {width: 350px;}
.w-400px {width: 400px;}

.h-100px {height: 100px;}
.h-150px {height: 150px;}
.h-200px {height: 200px;}
.h-250px {height: 250px;}
.h-300px {height: 300px;}
.h-350px {height: 350px;}
.h-400px {height: 400px;}
.h-450px {height: 450px;}
.h-450px {height: 450px;}


@media (min-width: 1600px) {
  .container {
    width: 1320px;
  }
}

.fish.button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  vertical-align: top;
  font-weight: 600 !important;
}
.fish.input textarea {
  border-color: rgb(204, 204, 204) !important;
}
.fish.select {
  border-color: rgb(204, 204, 204) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
.fish.select .fish.menu.vertical {
  border-color: rgb(204, 204, 204) !important;
}


.fish.input.disabled textarea,
.mx-datepicker.disabled input {
  cursor: not-allowed;
  border: 1px solid #ccc;
  background-color: #eee;
  opacity: 1 !important;
}
.fish.input.disabled {
  opacity: 1 !important;
}
.mx-datepicker.disabled {
  opacity: 1 !important;
}


/**
 * Notice
 */
.fish.notice.info {
  border-top: 3px solid #80d8ff;
}

.form-control label {font-weight: 400;}
.label {
  display: inline-block;
  padding: 2px 4px 1px 4px;
  border-radius: 4px;
  font-weight: 400 !important;
}

.label.label-primary {
  border: 1px solid #0069da;
  background-color: #0069da;
}
.label.label-primary-outline {
  color: #0069da;
  border: 1px solid #0069da;
  background-color: #fff;
}
.label.label-danger {
  border: 1px solid #dc3545;
  background-color: #dc3545;
}
.label.label-warning {
  color: #444;
  font-weight: 600;
  background: #ffdb4d;
  border-color: #ffdb4d;
}


.checkbox .led {
  vertical-align: baseline;
}

/**
 * Tags
 */
.tag {
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}
.tag .feather {
  width: 16px;
  height: 16px;
}
.tag.tag-default {
  color: #444;
  border: 1px solid #eee;
  background-color: #eee;
}
.tag.tag-success {
  border: 1px solid #28a745;
  background-color: #28a745;
}
.tag.tag-warning {
  color: #444;
  font-weight: 600;
  background: #ffdb4d;
  border-color: #ffdb4d;
}
.tag.tag-danger {
  border: 1px solid #dc3545;
  background-color: #dc3545;
}
.tag.tag-info {
  border: 1px solid #81d4fa;
  background-color: #81d4fa;
}


/* .label.label-primary {background-color: #007bff;} */

.control-label {font-weight: 600;}
.text-faded {color: #777;}
a, .link {color: #007bff;}


.brand-color {color: #4f6db5;}
.brand-background {background-color: #4f6db5;}

/**
 * Helpers
 */
.btn-icon {cursor: pointer;}
.clickable {cursor: pointer;}
.text-bold {font-weight: bold !important;}
.text-strong {font-weight: 600 !important;}
.text-normal {font-weight: normal !important;}
.text-left {text-align: left !important;}
.text-uppercase {text-transform: uppercase;}

.color-red, .color-danger {color: #dc3545}
.color-yellow, .color-warning {color: #ffc107}
.color-green, .color-success {color: #28a745}
.color-grey, .color-default {color: #666}

.d-block {display: block;}
.d-inline-block {display: inline-block;}

.has-error .form-control {
  border-color: #dc3545;
}

.bg-danger {
  background: #ffebee;
  color: #dc3545;
}


.opacity-01 {opacity: 0.1}
.opacity-02 {opacity: 0.2}
.opacity-03 {opacity: 0.3}
.opacity-04 {opacity: 0.4}
.opacity-05 {opacity: 0.5}
.opacity-06 {opacity: 0.6}
.opacity-07 {opacity: 0.7}
.opacity-08 {opacity: 0.8}
.opacity-09 {opacity: 0.9}

.p-0 {padding: 0px !important}
.p-1 {padding: 5px !important}
.p-2 {padding: 10px !important}
.p-3 {padding: 15px !important}
.p-4 {padding: 20px !important}

.m-0 {margin: 0px !important}
.m-1 {margin: 5px !important}
.m-2 {margin: 10px !important}
.m-3 {margin: 15px !important}
.m-4 {margin: 20px !important}
.m-5 {margin: 25px !important}
.m-6 {margin: 30px !important}

.mt-0 {margin-top: 0px !important}
.mt-1 {margin-top: 5px !important}
.mt-2 {margin-top: 10px !important}
.mt-3 {margin-top: 15px !important}
.mt-4 {margin-top: 20px !important}
.mt-5 {margin-top: 25px !important}
.mt-6 {margin-top: 30px !important}

.mb-0 {margin-bottom: 0px !important}
.mb-1 {margin-bottom: 5px !important}
.mb-2 {margin-bottom: 10px !important}
.mb-3 {margin-bottom: 15px !important}
.mb-4 {margin-bottom: 20px !important}
.mb-5 {margin-bottom: 25px !important}
.mb-6 {margin-bottom: 30px !important}

.ml-0 {margin-left: 0px !important}
.ml-1 {margin-left: 5px !important}
.ml-2 {margin-left: 10px !important}
.ml-3 {margin-left: 15px !important}
.ml-4 {margin-left: 20px !important}
.ml-5 {margin-left: 25px !important}
.ml-6 {margin-left: 30px !important}

.mr-0 {margin-right: 0px !important}
.mr-1 {margin-right: 5px !important}
.mr-2 {margin-right: 10px !important}
.mr-3 {margin-right: 15px !important}
.mr-4 {margin-right: 20px !important}
.mr-5 {margin-right: 25px !important}
.mr-6 {margin-right: 30px !important}

.pt-0 {padding-top: 0px !important}
.pt-1 {padding-top: 5px !important}
.pt-2 {padding-top: 10px !important}
.pt-3 {padding-top: 15px !important}
.pt-4 {padding-top: 20px !important}

.pb-0 {padding-bottom: 0px !important}
.pb-1 {padding-bottom: 5px !important}
.pb-2 {padding-bottom: 10px !important}
.pb-3 {padding-bottom: 15px !important}
.pb-4 {padding-bottom: 20px !important}

.pl-0 {padding-left: 0px !important}
.pl-1 {padding-left: 5px !important}
.pl-2 {padding-left: 10px !important}
.pl-3 {padding-left: 15px !important}
.pl-4 {padding-left: 20px !important}

.pr-0 {padding-right: 0px !important}
.pr-1 {padding-right: 5px !important}
.pr-2 {padding-right: 10px !important}
.pr-3 {padding-right: 15px !important}
.pr-4 {padding-right: 20px !important}


/**
 * Emoji
 */
.emoji {
  display: inline-block;
  margin: 0 2px;
  width: 18px;
  height: 18px;
  background-size: cover;
  vertical-align: top;
}
.emoji-pensive {
  background-image: url('../img/emoji/pensive.png');
}


/**
 * Buttons
 */
/* Base class */
.btn {
  border-radius: 2px;
  padding: 6px 14px;
}
.btn-fish {
  border-radius: 2px;
  padding: 7px 14px;
}
.btn-xs {padding: 1px 5px;}
.btn-sm {padding: 3px 10px;}
.btn-lg {padding: 10px 20px;}

.btn:active {}

.btn-rounded {
  border-radius: 2em;
  padding: 5px 15px;
}

/* Default button */
.btn-default {}
.btn-default:hover {
  border-color: #eee;
  background: #eee;
}
.btn-default:active {
  border-color: #ddd !important;
  background: #ddd !important;
}

/* Primary button */
.btn-primary {
  border-color: #007bff;
  background: #007bff;
}
.btn-primary:hover {
  border-color: #1385ff;
  background: #1385ff;
}
.btn-primary:active,
.btn-primary:focus  {
  border-color: #0571e4 !important;
  background: #0571e4 !important;
}

/* Success button */
.btn-success {
  border-color: #9ccc65;
  background: #9ccc65;
}
.btn-success:hover {
  border-color: #aed581;
  background: #aed581;
}
.btn-success:active {
  border-color: #8bc34a !important;
  background: #8bc34a !important;
}

/* Danger button */
.btn-danger {
  border-color: #f4511e;
  background: #f4511e;
}
.btn-danger:hover {
  border-color: #ff5722;
  background: #ff5722;
}
.btn-danger:active {
  border-color: #e64a19 !important;
  background: #e64a19 !important;
}

/* Pay button */
.btn-pay {
  color: #000;
  border-color: #ffd740;
  background: #ffd740;
}
.btn-pay:hover {
  color: #000;
  border-color: #ffe57f;
  background: #ffe57f;
}
.btn-pay:active {
  border-color: #ffc400 !important;
  background: #ffc400 !important;
}


/**
 * Setting for volumetric buttons
 */

/* Default button */

.btn-3d.btn-default {
  border-bottom: 1px solid rgba(0,0,0,0);
  box-shadow: 0 2px 0 0 #ccc;
}
.btn-3d.btn-default:hover {border-color: #eee;}
.btn-3d.btn-default:active,
.btn-3d.btn-default:focus {
  border: 1px solid #ccc !important;
  border-bottom: 1px solid #ddd !important;
  box-shadow: inset 0 2px 0 0 #ccc, 0 2px 0 0 #ddd;
}

/* Primary button */
.btn-3d.btn-primary {box-shadow: 0 3px 0 0 #1976d2;}
.btn-3d.btn-primary:hover {box-shadow: 0 3px 0 0 #1976d2;}
.btn-3d.btn-primary:active,
.btn-3d.btn-primary:focus {
  border: 1px solid #0571e4 !important;
  border-bottom: 1px solid #0571e4 !important;
  box-shadow: inset 0 3px 0 0 #0c5baa, 0 3px 0 0 #0571e4;
}

/* Success button */
.btn-3d.btn-success {box-shadow: 0 2px 0 0 #43a047;}
.btn-3d.btn-success:hover {box-shadow: 0 2px 0 0 #43a047;}
.btn-3d.btn-success:active,
.btn-3d.btn-success:focus {
  border: 1px solid #43a047 !important;
  border-bottom: 1px solid #8bc34a !important;
  box-shadow: inset 0 2px 0 0 #43a047, 0 2px 0 0 #8bc34a;
}

/* Danger button */
.btn-3d.btn-danger {box-shadow: 0 2px 0 0 #bf360c;}
.btn-3d.btn-danger:hover {}
.btn-3d.btn-danger:active {
  border: 1px solid #bf360c !important;
  border-bottom: 1px solid #e64a19 !important;
  box-shadow: inset 0 2px 0 0 #bf360c, 0 2px 0 0 #e64a19;
}

/* Pay button */
.btn-3d.btn-pay {box-shadow: 0 2px 0 0 #ffab00;}
.btn-3d.btn-pay:hover {}
.btn-3d.btn-pay:active {
  outline: none !important;
  border: 1px solid #ffab00 !important;
  border-bottom: 1px solid #ffc400 !important;
  box-shadow: inset 0 2px 0 0 #ffab00, 0 2px 0 0 #ffc400;
}
.btn:active, .btn:focus {
  outline: none !important;
}


/* Some overriding */
.btn-yandex {
	color: #000;
	border: none;
	background: #feeb32;
	box-shadow: inset 0 -3px 0 0 #fbc344;
}
.btn-yandex:focus,
.btn-yandex:hover {
	color: #000 !important;
	border: none !important;
	background: #fcf51a !important;
	box-shadow: inset 0 -3px 0 0 #fccc1a;
}
.btn-yandex:active {
	border: none !important;
	background: #feeb32 !important;
	box-shadow: inset 0 4px 0 0 #fccc1a;
}

.btn-3d:hover {}
.btn-3d:active {
  padding-top: 7px;
  padding-bottom: 3px;
}
.btn-xs.btn-3d:active {
  padding-top: 2px;
  padding-bottom: 0px;
}
.btn-sm.btn-3d:active {
  padding-top: 4px;
  padding-bottom: 2px;
}
.btn-lg.btn-3d:active {
  padding-top: 12px;
  padding-bottom: 8px;
}

.btn {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.btn-3d {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}



/**
 * Led components
 */
.led {
  content: '';
  display: inline-block;
  vertical-align: baseline;
  width: 8px;
  height: 8px;
  border-radius: 2em;
}
.led-lg {
  width: 12px;
  height: 12px;
}

@keyframes pulse-primary {
  0% {-moz-box-shadow: 0 0 0 0 rgba(0,123,255, 0.4); box-shadow: 0 0 0 0 rgba(0,123,255, 0.4); -webkit-box-shadow: 0 0 0 0 rgba(0,123,255, 0.4);}
  70% {-moz-box-shadow: 0 0 0 10px rgba(0,123,255, 0); box-shadow: 0 0 0 10px rgba(0,123,255, 0); -webkit-box-shadow: 0 0 0 10px rgba(0,123,255, 0);}
  100% {-moz-box-shadow: 0 0 0 0 rgba(0,123,255, 0); box-shadow: 0 0 0 0 rgba(0,123,255, 0); -webkit-box-shadow: 0 0 0 0 rgba(0,123,255, 0);}
}

@keyframes pulse-success {
  0% {-moz-box-shadow: 0 0 0 0 #28a746d0; box-shadow: 0 0 0 0 #28a746d0; -webkit-box-shadow: 0 0 0 0 #28a746d0;}
  70% {-moz-box-shadow: 0 0 0 10px #28a74600; box-shadow: 0 0 0 10px #28a74600; -webkit-box-shadow: 0 0 0 10px #28a74600;}
  100% {-moz-box-shadow: 0 0 0 0 #28a74600; box-shadow: 0 0 0 0 #28a74600; -webkit-box-shadow: 0 0 0 0 #28a74600;}
}

@keyframes pulse-warning {
  0% {-moz-box-shadow: 0 0 0 0 #ffd042d5; box-shadow: 0 0 0 0 #ffd042d5; -webkit-box-shadow: 0 0 0 0 #ffd042d5;}
  70% {-moz-box-shadow: 0 0 0 10px #f8da8000; box-shadow: 0 0 0 10px #f8da8000; -webkit-box-shadow: 0 0 0 10px #f8da8000;}
  100% {-moz-box-shadow: 0 0 0 0 #f8da8000; box-shadow: 0 0 0 0 #f8da8000; -webkit-box-shadow: 0 0 0 0 #f8da8000;}
}

@keyframes pulse-danger {
  0% {-moz-box-shadow: 0 0 0 0 #dc3546c9; box-shadow: 0 0 0 0 #dc3546c9; -webkit-box-shadow: 0 0 0 0 #dc3546c9;}
  70% {-moz-box-shadow: 0 0 0 10px #dc354600; box-shadow: 0 0 0 10px #dc354600; -webkit-box-shadow: 0 0 0 10px #dc354600;}
  100% {-moz-box-shadow: 0 0 0 0 #dc354600; box-shadow: 0 0 0 0 #dc354600; -webkit-box-shadow: 0 0 0 0 #dc354600;}
}

.led-primary {background: #007bff;}
.led-primary.led-pulsar {animation: pulse-primary 2s infinite;}
.led-success {background: #28a745;}
.led-success.led-pulsar {animation: pulse-success 2s infinite;}
.led-warning {background: #ffc107;}
.led-warning.led-pulsar {animation: pulse-warning 2s infinite;}
.led-danger  {background: #dc3545;}
.led-danger.led-pulsar {animation: pulse-danger 2s infinite;}
.led-default {background: #666;}


/**
 * Ajax loader block
 */
.loader-block {
  z-index: 400;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  opacity: 0.5;
  background-color: #fff;
}
.loader-item {
  margin: -50px 0 0 -50px;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  position: absolute; }
.loader-icon {
  width: 20px;
  height: 20px;
  position: relative;
  animation: loader-animation 1s ease infinite;
  top: 50%;
  margin: -46px auto 0;
}
@keyframes loader-animation {
  0%, 100% {box-shadow: -13px 20px 0 #0052ec, 13px 20px 0 rgba(0, 82, 236, 0.2), 13px 46px 0 rgba(0, 82, 236, 0.2), -13px 46px 0 rgba(0, 82, 236, 0.2); }
  25% {box-shadow: -13px 20px 0 rgba(0, 82, 236, 0.2), 13px 20px 0 #0052ec, 13px 46px 0 rgba(0, 82, 236, 0.2), -13px 46px 0 rgba(0, 82, 236, 0.2); }
  50% {box-shadow: -13px 20px 0 rgba(0, 82, 236, 0.2), 13px 20px 0 rgba(0, 82, 236, 0.2), 13px 46px 0 #0052ec, -13px 46px 0 rgba(0, 82, 236, 0.2); }
  75% {box-shadow: -13px 20px 0 rgba(0, 82, 236, 0.2), 13px 20px 0 rgba(0, 82, 236, 0.2), 13px 46px 0 rgba(0, 82, 236, 0.2), -13px 46px 0 #0052ec; }
}



/**
 * No items prefab
 */
 .no-items {
  padding: 30px;
  background: #f8f8f8;
  color: #999;
  text-align: center;
}




/**
 * Card
 */
.card {
  background: #fff;
  position: relative;
}

.card .card-header,
.card .card-body,
.card .card-footer {
  padding: 15px 30px;
}

.card .card-header {
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.card .card-header h1,
.card .card-header h2
.card .card-header h3,
.card .card-header h4 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.card .card-body {
  padding: 30px 30px;
}
.card .card-footer {
  background: #fff;
  border-top: 1px solid #eee;
}
.card .card-footer-fixed {
  position: sticky;
  bottom: 0px;
}
.card .alert {margin: 0;}
.card-bordered {
  border: 1px solid #d7d8db;
  /* box-shadow: 0  0 0 1px #d7d8db, 0 0 0 1px #e3e4e8; */
}
.card-shadowed:hover {
  box-shadow: 0 3px 3px rgba(99, 99, 99, 0.12),
              0 6px 6px rgba(99, 99, 99, 0.12),
              0 12px 12px rgba(99, 99, 99, 0.12),
              0 18px 18px rgba(99, 99, 99, 0.12),
              0 24px 24px rgba(99, 99, 99, 0.12);
}
.card-shadowed-sm:hover {
  box-shadow: 0 1px 1px rgba(99, 99, 99, 0.12),
              0 2px 2px rgba(99, 99, 99, 0.12),
              0 4px 4px rgba(99, 99, 99, 0.12),
              0 8px 8px rgba(99, 99, 99, 0.12),
              0 16px 16px rgba(99, 99, 99, 0.12);
}
.card-border-bottom {border-bottom: 1px solid #ddd;}
.card-dashed-bottom {border-bottom: 1px dashed #ddd;}

.card-attachment {
  background-image: url('../img/office-material.svg');
  background-repeat: no-repeat;
  background-size: 96px 96px;
  background-position: 97% 20px;
}


/**
 * Register
 */
 .card-register {
  max-width: 450px;
  margin: 60px auto 0 auto;
}

.card-auth {
  max-width: 450px;
  margin: 60px auto 0 auto;
  color: #FFF;
  background-color: rgba(52, 59, 76, 0.678);
}
.card-auth .card-header {
  border-bottom: none;
  padding-bottom: 0;
}


.app-wrapper {
  background: #fff;
}



/**
 * Transitions
 */
.nav-top ul > li > a::before ,
.badge,
.btn-ghost,
.card-shadowed,
.card-shadowed-sm,
.address-empty-card {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
